<%- include('partials/header') %>

<div align="center">
    <div id="view-events" style="margin: 70px;">
        <h3>Clemson Men's Basketball Game vs. Duke</h3>
        <p class="lead">Date: March 3rd, 2022</p>
        <p class="lead">Time: 7:30pm</p>
        <p class="lead">Location: Littlejohn Coliseum, Clemson University</p>
        <a class="btn btn-info btn-md" href="/viewEvent" role="button">View this event</a>
    </div>
    <div id="view-events" style="margin: 70px;">
        <h3>Clemson Women's Soccer Game vs. UofSC</h3>
        <p class="lead">Date: March 5th, 2022</p>
        <p class="lead">Time: 6:00pm</p>
        <p class="lead">Location: Historic Riggs Field, Clemson University</p>
        <a class="btn btn-info btn-md" href="/viewEvent" role="button">View this event</a>
    </div>
    <div id="view-events" style="margin: 70px;">
        <h3>Clemson Spring Block Party (ft. Sean Kingston)</h3>
        <p class="lead">Date: March 10th, 2022</p>
        <p class="lead">Time: 6:30pm - 9:00pm</p>
        <p class="lead">Location: Tiger Park, Clemson University</p>
        <a class="btn btn-info btn-md" href="/viewEvent" role="button">View this event</a>
    </div>
    <div id="view-events" style="margin: 70px;">
        <h3>Miami Hurricanes at Clemson Tigers Football Tickets</h3>
        <p class="lead">Sat, Nov 17</p>
        <p class="lead">Time: 10:30 AM</p>
        <p class="lead">Location: Memorial Stadium</p>
        <a class="btn btn-info btn-md" href="/viewEvent" role="button">View this event</a>
    </div>
    <div id="view-events" style="margin: 70px;">
        <h3>Louisiana Tech Football at Clemson Football</h3>
        <p class="lead">Date: Sat, Sep 19 </p>
        <p class="lead">Time: 3:30 PM</p>
        <p class="lead">Location: Doug Kingsmore Stadium</p>
        <a class="btn btn-info btn-md" href="/viewEvent" role="button">View this event</a>
    </div>
    <a class="btn btn-dark btn-lg" href="/" role="button">Return to homepage</a>

</div>

<%- include('partials/footer') %>