<%- include('partials/header') %>

<div align="center">
    <div id="view-events" style="margin: 70px;">
        <h3>Clemson Men's Basketball Game vs. Duke</h3>
        <p class="lead">Date: March 3rd, 2022</p>
        <p class="lead">Time: 7:30pm</p>
        <p class="lead">Location: Littlejohn Coliseum, Clemson University</p>
        <p class="lead">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pulvinar pellentesque habitant morbi tristique senectus et netus et. Velit laoreet id donec ultrices tincidunt arcu non. Tincidunt ornare massa eget egestas purus viverra. Nibh tortor id aliquet lectus proin nibh nisl. Ullamcorper morbi tincidunt ornare massa eget egestas. At tempor commodo ullamcorper a. Id donec ultrices tincidunt arcu non sodales neque sodales. Tortor id aliquet lectus proin nibh. Elementum sagittis vitae et leo duis ut diam quam nulla. Pellentesque massa placerat duis ultricies lacus. Quis auctor elit sed vulputate mi. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat.</p>
        <img src="https://www.pinclipart.com/picdir/middle/4-45568_fileclemson-university-tiger-paw-logo-clemson-paw-clipart.png" alt="Clemson University">
        <a class="btn btn-dark btn-lg" href="/successEvent" role="button">Add this event</a>
    </div>
</div>


<%- include('partials/footer') %>